# application.yml
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.data.redis.RedisRepositoriesAutoConfiguration
  datasource:
    url: jdbc:postgresql://localhost:5432/shortlink
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  redis:
    host: localhost
    port: 6379
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
  rabbitmq:
    host: localhost
jwt:
  secret: "your-secret-key"
mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.example.short_link.model
  configuration:
    map-underscore-to-camel-case: true